$logo-width: 170px;
$font-family-sans: 'Inter', 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-serif: 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
$font-size-base:          13px;
$font-size-large:         15px;
$font-size-small:         11px;
$font-size-h1:            45px;
$font-size-h2:            35px;
$font-size-h3:            30px;
$font-size-h4:            25px;
$font-size-h5:            20px;
$font-size-h6:            17px;

$color-primary:              #4F71F4;
$color-secondary:            #E7EAF4;
$color-accent:               #4EDCF2;
$color-highlight:            #2E2E2E;
